@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap');
html {
  scroll-behavior: smooth;
}
@keyframes slideRight {
  from {
    transform: translateX(-100vw); 
     opacity: 0;  
  }

  to {
    transform: translateX(0); 
     opacity: 1; 
  }
}

.animate-slideRight {
  animation: slideRight 2s ease-out forwards;
}
body {
  font-family: "Inter", sans-serif;
  color: #222;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Cormorant Garamond", serif;
}